datasets
# models
*/__pycache__/*
captured_images
Chinese-number-gestures-recognition/digital_gesture_recognition/resized_img
Chinese-number-gestures-recognition/digital_gesture_recognition/resized_img_split
Chinese-number-gestures-recognition/DigitalGestureRecognition